RewriteEngine On
RewriteRule ^cars/$ controllers/cars.php?action=index
RewriteRule ^cars/new$ controllers/cars.php?action=new
RewriteRule ^cars/create$ controllers/cars.php?action=create
RewriteRule ^cars/delete$ controllers/cars.php?action=delete
RewriteRule ^cars/edit$ controllers/cars.php?action=edit
RewriteRule ^cars/update$ controllers/cars.php?action=update 
